@page "/ModuleMaintenance/ProsesStock"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Accounting.Services;
@using Accounting.Services.View;
@using Accounting.Data;
@using eSoft.LaporanStock.Services;

@attribute [Authorize(Roles ="Admin")]

@inject ILaporanStockServices service


<h3>Proses Stock</h3>

<button class="btn-success" @onclick="prosesstock" >Proses</button>

@code {
    private void prosesstock()
    {
        service.prosesStock();
    }
}
