@page "/ModuleMaintenance/ProsesCashBank"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Accounting.Services;
@using Accounting.Services.View;
@using Accounting.Data;
@using eSoft.CashBank.Services;


@attribute [Authorize(Roles ="Admin")]
@inject ICashBankServices service


<h3>Proses KasBank</h3>

<button class="btn-success" @onclick="prosesstock" >Proses</button>

@code {
    private void prosesstock()
    {
        service.prosesCashBank();
    }
}
