@page "/ModuleJual/LaporanPenjualan"

@using eSoft.Piutang.Model
@using eSoft.Piutang.View
@using eSoft.Piutang.Services
@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services
@using eSoft.Penjualan.Model
@using eSoft.Penjualan.View
@using eSoft.Penjualan.Services

@inject ISalesServices  service
@inject IReceivableServices   serviceAR
@inject IInventoryServices serviceIC
@inject NavigationManager navigationmanager

<h3>LaporanPenjualan</h3>

<EditForm Model="transh">
    <div class="form-group">
        <label>
            Dari Tanggal :
            <InputDate class="form-control" @bind-Value="Tanggal1" />
        </label>
    </div>
    <div class="form-group">
        <label>
            Sd Tanggal :
            <InputDate class="form-control" @bind-Value="Tanggal2" />
        </label>
    </div>
</EditForm>
<br/>

<button class="btn btn-primary">Display Penjualan</button>


@code {

    private List<OeTransH> TransHeader;
    private List<OeTransD> TransDetail;
    private OeTransH _bankToDelete;

    OeTransH transh = new OeTransH();

    public bool DeleteDialogOpen { get; set; }
    public bool NullDialogOpen { get; set; }

    public DateTime Tanggal1 { get; set; }
    public DateTime Tanggal2 { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Tanggal1 = DateTime.Now;
        Tanggal2 = DateTime.Now;

    }


}
