@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="height:3000px">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="container">
            @Body
        </div>
    </div>
   


</div>
