<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Accounting</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="(()=>expandPenjualan = !expandPenjualan)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Penjualan
            </NavLink>
            @if (expandPenjualan)
            {
        <ul class="nav flex-column">

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleJual/TransJual">
                    <span aria-hidden="true"></span> Transaksi Jual
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleJual/TransJualNon">
                    <span aria-hidden="true"></span> Transaksi Jual Non
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleJual/ReturJual">
                    <span aria-hidden="true"></span> Retur Jual
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleJual/LaporanPenjualan">
                    <span aria-hidden="true"></span> Laporan Penjualan
                </NavLink>
            </li>

        </ul>


            }
        </li>  <!--   Penjualan  -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="(()=>expandPembelian = !expandPembelian)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pembelian
            </NavLink>
            @if (expandPembelian)
            {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleOrder/TransOrderBeli">
                    <span aria-hidden="true"></span> Order Pembelian
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleBeli/TransBeli">
                    <span aria-hidden="true"></span> Transaksi Beli
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleBeli/ReturBeli">
                    <span aria-hidden="true"></span> Retur Beli
                </NavLink>
            </li>


        </ul>


            }
        </li>  <!--   Pembelian  -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="(()=>expandPersediaan = !expandPersediaan)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Persediaan
            </NavLink>
            @if (expandPersediaan)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/TransAdjustment">
                            <span aria-hidden="true"></span> Transaksi Inventory
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/SetupDivisi">
                            <span aria-hidden="true"></span> Setup Divisi
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/SetupLokasi">
                            <span aria-hidden="true"></span> Setup Lokasi
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/SetupItem">
                            <span aria-hidden="true"></span> Setup Item
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/SetupAcctSet">
                            <span aria-hidden="true"></span> Setup Account Set
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePersediaan/SetupCategory">
                            <span aria-hidden="true"></span> Setup Category
                        </NavLink>
                    </li>

                </ul>


            }
        </li>  <!--   Persediaan -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="(()=>expandHutang = !expandHutang)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hutang
            </NavLink>
            @if (expandHutang)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/TransHutang">
                            <span aria-hidden="true"></span> Transaksi Hutang
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/TransApCa">
                            <span aria-hidden="true"></span> Pembayaran
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/TransApDp">
                            <span aria-hidden="true"></span> Pembayaran Dimuka
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/SetupSupplier">
                            <span aria-hidden="true"></span> Setup Vendor
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/SetupAcctSet">
                            <span aria-hidden="true"></span> Setup Account Set
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleHutang/SetupDistCode">
                            <span aria-hidden="true"></span> Setup Distribution
                        </NavLink>
                    </li>

                </ul>


            }
        </li>  <!--   Hutang     -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="(()=>expandPiutang = !expandPiutang)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Piutang
            </NavLink>
            @if (expandPiutang)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/TransPiutang">
                            <span aria-hidden="true"></span> Transaksi Piutang
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/TransArCa">
                            <span aria-hidden="true"></span> Pembayaran
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/TransArDp">
                            <span aria-hidden="true"></span> Pembayaran Dimuka
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/SetupCustomer">
                            <span aria-hidden="true"></span> Setup Customer
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/SetupAcctSet">
                            <span aria-hidden="true"></span> Setup Account Set
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModulePiutang/SetupDistCode">
                            <span aria-hidden="true"></span> Setup Distribution
                        </NavLink>
                    </li>

                </ul>


            }
        </li>  <!--   Piutang    -->
        <li class="nav-item px-3">

            <NavLink class="nav-link" href="#" @onclick="(()=>expandCashBank = !expandCashBank)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cash Bank
            </NavLink>
            @if (expandCashBank)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleBank/TransBank">
                            <span aria-hidden="true"></span> Transaksi Bank/Kas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleBank/MutasiBank">
                            <span aria-hidden="true"></span> Laporan Kas/Bank
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleBank/SetupCashBank">
                            <span aria-hidden="true"></span> Setup Bank/Kas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleBank/SetupSrcCode">
                            <span aria-hidden="true"></span> Setup Src Code
                        </NavLink>
                    </li>
                </ul>


            }


        </li>  <!--   KasBank    -->
        <li class="nav-item px-3">

            <NavLink class="nav-link" href="#" @onclick="(()=>expandLedger = !expandLedger)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ledger
            </NavLink>
            @if (expandLedger)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ModuleLedger/SetupAkunGl">
                            <span aria-hidden="true"></span> Setup Account
                        </NavLink>
                    </li>
                    
                </ul>


            }


        </li>  <!--   Ledger     -->
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    // toogle sub menu
    private bool expandCashBank;
    private bool expandLedger;
    private bool expandPiutang;
    private bool expandHutang;
    private bool expandPersediaan;
    private bool expandPembelian;
    private bool expandPenjualan;
    //


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
