@page "/ModulePersediaan/AddDivisi"
@using eSoft.Persediaan.Model
@using eSoft.Persediaan.View
@using eSoft.Persediaan.Services

@inject IInventoryServices service
@inject NavigationManager navigationmanager


<div class="top-row px-4 " style="z-index:5">
    <h3>Add Divisi</h3>
</div>

<div class="content px-4">

    <EditForm Model="@bank" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>
                Divisi :
                <InputText id="codeBank" class="form-control" @bind-Value="bank.Divisi" style="text-transform:uppercase" @onfocusout="cekKode" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Name :
                <InputText class="form-control" @bind-Value="bank.NamaDiv" />
            </label>
        </div>

        <br />
        <div class="container">
            <button class="btn-success" type="submit">Simpan</button>
            <button class="btn-danger" type="button" @onclick="@(() => navigationmanager.NavigateTo("/ModulePersediaan/SetupDivisi", false))">Batal</button>
        </div>

    </EditForm>

</div>

@if (DialogOpen)
{
    <ModalDialogComponent Title="Alert" Text="Divisi Sudah Ada" TombolSave="false" OnClose="OnDialogClose"></ModalDialogComponent>
}

<style>
    label {
        width: 100%;
    }
</style>


@code {
    IcDivView bank = new IcDivView();
    public string Testing { get; set; }
    private bool DialogOpen { get; set; }

    public bool SearchOpen { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        bank.Divisi = "";

    }

    private void cekKode()
    {
        Testing = bank.Divisi;
        DialogOpen = service.CekKdDivisi(Testing);
        if (DialogOpen)
        {
            bank.Divisi = "";
        }
        StateHasChanged();
    }

    private void OnDialogClose(bool accepted)
    {

        DialogOpen = false;
        StateHasChanged();

    }



    private void HandleValidSubmit()
    {
        var newEdit = service.AddIcDiv(bank);
        if (newEdit)
        {


        }

        navigationmanager.NavigateTo("/ModulePersediaan/SetupDivisi", false);

    }


}
