@page "/"
@using Accounting.Services;
@inject IAdministrationServices service

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Laporan Stock</h5>
                <p class="card-text">List Stock Sekarang</p>
                <a href="/ModulePersediaan/LaporanCurrentStock" class="btn btn-primary">Laporan Stock</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCek();

    }

    private void LoadCek()
    {
        service.seedUserRole();
    }
}